<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iu.base.member.MemberDAO">
	<select id="getLogin" parameterType="MemberVO" resultMap ="getLoginResult">
		SELECT M.USERNAME, M.NAME, M.EMAIL, R.NUM, R.ROLENAME 
		FROM MEMBER M
		INNER JOIN MEMBER_ROLE MR
		ON (M.USERNAME = MR.USERNAME)
		INNER JOIN ROLE R
		ON (MR.NUM = R.NUM)
		WHERE M.USERNAME=#{userName} AND M.PASSWORD=#{password}
	</select>
	<resultMap type="MemberVO" id="getLoginResult">
	<id column="USERNAME" property="userName"/>
	<result column="NAME" property="name"/>
	<result column="EMAIL" property="email"/>
		<collection property="roleVOs" javaType="List" ofType="RoleVO" >
			<id column="NUM" property="num"/>
			<result column="ROLENAME" property="roleName"/>
		</collection>
	</resultMap>

	<insert id="setJoin" parameterType="memberVO">
		INSERT INTO MEMBER (USERNAME, PASSWORD, NAME, EMAIL, BIRTH, ENABLED)
		VALUES (#{userName}, #{password}, #{name}, #{email}, #{birth}, #{enabled})
	</insert>

	<insert id = "setMemberRole" parameterType="Map">
		INSERT INTO MEMBER_ROLE (USERNAME, NUM)
		VALUES (#{userName},#{num})	
	</insert>

	<select id="idDuplicateCheck" resultType="MemberVO" parameterType="MemberVO">
		SELECT USERNAME FROM MEMBER WHERE USERNAME=#{userName} 
	</select>
	
	<select id="getMemberList" resultType="MemberVO">
		SELECT USERNAME FROM MEMBER 
	</select>
	
	<update id="setLastTime" parameterType="MemberVO">
		UPDATE MEMBER SET LASTTIME=now() WHERE USERNAME=#{userName}
	</update>
	
	<update id="setEnabledMember">
	<![CDATA[
		UPDATE MEMBER SET ENABLED = 0 WHERE LASTTIME <= now()-INTERVAL 3 DAY
		]]>
	</update>
	
	<!-- 회원 생일 가져와서 생일인 사람 이름을 공지사항 게시글에 작성해주고, 이메일로 전송해주는 쿼리  -->
	<select id="getMemberBirthday" resultType="MemberVO">
		SELECT NAME, EMAIL FROM MEMBER WHERE DAYOFYEAR(BIRTH)=DAYOFYEAR(NOW())
	</select>
	
</mapper>